@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500;600;700&display=swap');

*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'raleway', sans-serif;
   list-style: none;
   text-decoration: none;
   color: var(--main-font-color);
}

/* Global Variables */

/*
Pallete used: 
Storm: #565c5e | Forest Green: #455954 | Leather: #9d7463 | Blue: #b5c2c7 | Linen: #dfdbd8 
*/
:root{
    --main-font-color:#565c5e;
    --main-background-color:#dfdbd8;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    * {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    }
  }

/* for screen readers */

.skip-link {
    position: absolute;
    top: auto;
    left: -10000px;
    width: 1px;
    height: 1px;
    background-color: var(--color-secondary);
    color: #fff;
    font-size: 1.125rem;
    overflow: hidden;
  }
  .skip-link:focus {
    position: fixed;
    top: 0;
    left: 0;
    width: auto;
    height: auto;
    padding: 0.5em;
  }

/* ==  Header styles  == */

header{
    min-height: 100vh;
}

header h1,
header h2{
    text-align: center;
}

header h1{
    margin-top: 5rem;
}

header h2{
    margin-top: 1rem;
}

header p{
    position: absolute;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    top: 50%;
    left: 0;
    border: transparent 1px none;
    border-bottom: 1px solid var(--main-font-color);
    border-left: 1px solid var(--main-font-color);
}


header span svg{
    width: 1rem;
}